@import "tailwindcss";
@import "tailwindcss/utilities";


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.post-content{
    padding: 36px 0;

}
.post-content b{
    margin-bottom: 10px;
    font-weight: 600;
    color: #f1d592;
}
.post-content p{
    margin-bottom: 10px;
    color: #c4b7a5;
}
.post-content h1{
    margin-bottom: 10px;
    font-weight: 700;
    color: #f1d592;
    font-size: 26px;
}
.post-content h2{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 22px;
    color: #f1d592;
}
.post-content h3{
    margin-bottom: 10px;
    font-weight: 500;
    color: #f1d592;
    font-size: 18px;
}